<div class="container">

    <form [formGroup]="employeForm" (ngSubmit)="onFormSubmit()">
      <h3>Registrar Empleados</h3>      
      <div class="input-group">
        <label for="">DUI</label>
        <input [class.border-danger]="employeForm.get('dui')?.touched && employeForm.get('dui')?.invalid" type="number" formControlName="dui" placeholder="DUI">
        <div *ngIf="employeForm.get('dui')?.touched && employeForm.get('dui')?.hasError('required')" class="text-sm text-danger">DUI es necesario para continuar.</div>
        <div *ngIf="employeForm.get('dui')?.touched && employeForm.get('dui')?.hasError('min')" class="text-sm text-danger">Min 9 required</div>
      </div>
      <label for="">Nombres (MAYUSCULAS)</label>
       <div class="input-group">
        <input [class.border-danger]="employeForm.get('names')?.touched && employeForm.get('names')?.invalid" type="text" formControlName="names" placeholder="names">
        <div *ngIf="employeForm.get('names')?.touched && employeForm.get('names')?.hasError('required')" class="text-sm text-danger">Nombres es necesario para continuar.</div>
        <div *ngIf="employeForm.get('names')?.touched && employeForm.get('names')?.hasError('min')" class="text-sm text-danger">Min 1 required</div>
      </div>
      <div class="input-group">
        <label for="">Apellidos (MAYUSCULAS)</label>
        <input [class.border-danger]="employeForm.get('lastnames')?.touched && employeForm.get('lastnames')?.invalid" type="text" formControlName="lastnames" placeholder="lastnames">
        <div *ngIf="employeForm.get('lastnames')?.touched && employeForm.get('lastnames')?.hasError('required')" class="text-sm text-danger">Apellidos es necesario para continuar</div>
        <div *ngIf="employeForm.get('lastnames')?.touched && employeForm.get('lastnames')?.hasError('pattern')" class="text-sm text-danger">Min 1 required</div>
      </div>
      <div class="input-group">
        <label for="">Correo</label>
        <input [class.border-danger]="employeForm.get('email')?.touched && employeForm.get('email')?.invalid" type="email" formControlName="email" placeholder="email">
        <div *ngIf="employeForm.get('email')?.touched && employeForm.get('email')?.hasError('required')" class="text-sm text-danger">Correo es necesario para continuar</div>
        <div *ngIf="employeForm.get('email')?.touched && employeForm.get('email')?.hasError('min')" class="text-sm text-danger">Min 1 required</div>
      </div>
      <div class="input-group">
        <label for="">Fecha Nacimiento</label>
        <input [class.border-danger]="employeForm.get('dateBorn')?.touched && employeForm.get('dateBorn')?.invalid" type="date" formControlName="dateBorn" placeholder="dateBorn">
        <div *ngIf="employeForm.get('dateBorn')?.touched && employeForm.get('dateBorn')?.hasError('required')" class="text-sm text-danger">Fecha de Nacimiento es necesario para continuar</div>
        <div *ngIf="employeForm.get('dateBorn')?.touched && employeForm.get('dateBorn')?.hasError('min')" class="text-sm text-danger">Min 1 required</div>
      </div>
      <div class="input-group">
          <label for="">Dirección</label>
        <input [class.border-danger]="employeForm.get('address')?.touched && employeForm.get('address')?.invalid" type="email" formControlName="address" placeholder="address">
        <div *ngIf="employeForm.get('address')?.touched && employeForm.get('address')?.hasError('required')" class="text-sm text-danger">address is required</div>
        <div *ngIf="employeForm.get('address')?.touched && employeForm.get('address')?.hasError('min')" class="text-sm text-danger">Min 1 required</div>
      </div>
      <!---->
      <div class="input-group">
          <label for="">Telefono</label>
        <input [class.border-danger]="employeForm.get('phone')?.touched && employeForm.get('phone')?.invalid" type="email" formControlName="phone" placeholder="phone">
        <div *ngIf="employeForm.get('phone')?.touched && employeForm.get('phone')?.hasError('required')" class="text-sm text-danger">phone is required</div>
        <div *ngIf="employeForm.get('phone')?.touched && employeForm.get('phone')?.hasError('min')" class="text-sm text-danger">Min 1 required</div>
      </div>
      <!---->
      <div class="input-group">
          <label for="">Vacunad@</label>
        <select [(ngModel)]="vaccine" (change)='onOptionsSelected($event)' formControlName="vaccine" [class.border-danger]="employeForm.get('vaccine')?.touched && employeForm.get('vaccine')?.invalid">
          <option value="">Vacunando?</option>
          <option value="SI">SI</option>
          <option value="NO">NO</option>
        </select>
        <div *ngIf="employeForm.get('vaccine')?.touched && employeForm.get('vaccine')?.hasError('required')" class="text-sm text-danger">vaccine is required</div>
      </div>
      <!---->
      <div *ngIf="vaccine == 'SI'" class="input-group">
          <label for="">Tipo Vacuna</label>
        <select formControlName="vaccineType" [class.border-danger]="employeForm.get('vaccine')?.touched && employeForm.get('vaccine')?.invalid">
          <option [value]="''">Tipo Vacuna</option>
          <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
        </select>
        <div *ngIf="employeForm.get('vaccineType')?.touched && employeForm.get('vaccineType')?.hasError('required')" class="text-sm text-danger">vaccineType is required</div>
      </div>
      <!---->
      <div *ngIf="vaccine == 'SI'" class="input-group">
          <label for="">Fecha Vacunación</label>
        <input [class.border-danger]="employeForm.get('vaccineDate')?.touched && employeForm.get('vaccineDate')?.invalid" type="date" formControlName="vaccineDate" placeholder="vaccineDate">
        <div *ngIf="employeForm.get('vaccineDate')?.touched && employeForm.get('vaccineDate')?.hasError('required')" class="text-sm text-danger">vaccineDate is required</div>
        <div *ngIf="employeForm.get('vaccineDate')?.touched && employeForm.get('vaccineDate')?.hasError('min')" class="text-sm text-danger">Min 1 required</div>
      </div>
      <!---->
      <div *ngIf="vaccine == 'SI'" class="input-group">
          <label for="">Numero Dosis</label>
        <input [class.border-danger]="employeForm.get('vaccineDosis')?.touched && employeForm.get('vaccineDosis')?.invalid" type="email" formControlName="vaccineDosis" placeholder="vaccineDosis">
        <div *ngIf="employeForm.get('vaccineDosis')?.touched && employeForm.get('vaccineDosis')?.hasError('required')" class="text-sm text-danger">vaccineDosis is required</div>
        <div *ngIf="employeForm.get('vaccineDosis')?.touched && employeForm.get('vaccineDosis')?.hasError('min')" class="text-sm text-danger">Min 1 required</div>
      </div>
            
      <button class="btn btn-primary" [disabled]="employeForm.invalid" style="margin-top: 40px;" type="submit">Actualizar Empleado</button>
    </form>
  </div>